---
layout: home
class: first
---
{% include header.html %}
<section>
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-push-2 col-lg-8 col-lg-push-2 text-center">
      <h2 class="text-success">OPEN is a sisterhood of grassroots campaigning organizations from around the world.</h2>
      <p class="text-info"> Our member organizations use a common model of people-powered, national-scale campaigning. They mobilize over 16 million supporters on five continents.</p>

    </div>
  </div>
  </div>
</section>

<section>
  <div class="container">
  <div class="row">
    <h1 class="text-center">examples of awesome things</h1>
    <div class="col-md-6 col-lg-6">
      <a href="#">
      <div class="well case-study">
        <img class="col-sm-3" src="http://placehold.it/100x100">
        <p class="col-sm-9">Show a startup summit and how it catalyzed org launches and made people feel awesome</p>
      </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-6">
      <a href="#">
      <div class="well case-study">
        <img class="col-sm-3" src="http://placehold.it/100x100">
        <p class="col-sm-9">Show sophisticated multi-national campaigning via Abbot point</p>
      </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <a href="#">
      <div class="well case-study">
        <img class="col-sm-3" src="http://placehold.it/100x100">
        <p class="col-sm-9">Show a "moment response" like the refugee crisis where everyone’s unsure how to react and the network helps develop a consensus way forward with greater confidence</p>
      </div>
      </a>
    </div>
    <div class="col-md-6 col-lg-6">
      <a href="#">
      <div class="well case-study">
        <img class="col-sm-3" src="http://placehold.it/100x100">
        <p class="col-sm-9">The speakout tool open source collaboration or maybe the "interesting innovations" report that accelerates dissemination of good practices</p>
      </div>
      </a>
    </div>
  </div>
  </div>
</section>

<section>
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <h1 class="text-center">meet open 'splainer video</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://player.vimeo.com/video/128192553" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <p><a href="https://vimeo.com/128192553">OPEN Summit 2015</a> from <a href="https://vimeo.com/user44115758">OPEN</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
      </div>
    </div>
  </div>
  </div>
</section>

<section>
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
      <h1 class="text-center">some inspirational quotes</h1>

      <blockquote class="blockquote-reverse">
        <p>Something aobut how OPEN is a crucial and unparalleled piece of movement infrastructure.</p>
        <footer>Someone with a ton of cred, <cite title="Source Title">Core Organization</cite></footer>
      </blockquote>
      <blockquote>
        <p>Something aobut how OPEN gives me hope and strength to carry on. The summits are crucial for making me feel connected to a global community.</p>
        <footer>Person from inspirationally-difficult part of the world, <cite title="Source Title">Organization Name</cite></footer>
      </blockquote>
      <blockquote class="blockquote-reverse">
        <p>Something about how OPEN made me awesome with training and coaching.</p>
        <footer>Semi-senior level person, <cite title="Source Title">Successful Organization</cite></footer>
      </blockquote>
      <blockquote>
        <p>Something about how OPEN enabled us to accelerate our launch plan from a matter of years to just months, with coaching, network resources, and funding streams that allowed us to quit our day jobs and launch. Now we’re successful and it’s thanks in large part to OPEN.</p>
        <footer>Person Name, Executive Director, <cite title="Source Title">Startup Organization</cite></footer>
      </blockquote>
    </div>
  </div>
  </div>
</section>

<section>
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <h1 class="text-center">sign up for updates</h1>
{% include mailchimp.html %}
    </div>
  </div>
  </div>
</section>

<section>
  <div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-push-2 col-lg-6 col-lg-push-3">
      <h1 class="text-center">or read on...</h1>
      <a href="#" class="big-learn-more-button btn btn-lg btn-block btn-success">
        Learn more about our work
      </a>
    </div>
  </div>
  </div>
</section>
{% include footer.html %}
