---
layout: home
---

<section id="first">
{% include header.html %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-push-1 col-lg-10 col-lg-push-1">
      <br>
      <h1 class="text-success">
        OPEN is a growing sisterhood of national grassroots campaigning organisations.
      </h1>
      <p class="text-info h4-sized">
        OPEN groups use digital tools and real-world organising to help over 17 million individual members drive progressive change.
      </p>
      <p class="text-info h4-sized">
        Together we share innovations, collaborate on common goals and accelerate new organisations to deepen impact around the world.
      </p>
      <p>
        All OPEN organisations are fully autonomous, deriving their mandate and agenda exclusively from the members they serve in their home country.
      </p>
      <br>
    </div>
  </div>
</div>
</section>
<section class="overview">
<div id="map1"></div>
<p class="caveat half-well text-center">
  The OPEN network is growing rapidly and now includes some groups facing political repression. Therefore, this site does not reflect all current members.
</p>
<div class="join-up col-md-3 col-sm-4 text-center well">
  <h4>
    Interested in starting an OPEN organisation in your country?
  </h4>
  <br>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
    Get in touch
  </button>
  <br>
</div>
</section>

<a name="connect"></a>
<section class="connect bg-primary">
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="text-center">
        Connecting this global family of organisers</span>
      </h1>
      <p class="h4-sized">
        OPEN groups connect year-round to share lessons learnt, cautionary tales and best practices to supercharge every aspect of what we do and how we do it. The combination of shared values, similar practices and almost no institutional competition creates an extremely honest, generous and valuable exchange.
      </p>
      <p class="h4-sized">
        OPEN network members connect virtually through thousands of messages every month, live web seminars and facilitated learning circles across multiple issue and role cohorts. We gather physically at regular global and regional summits and through international staff exchanges. Over 120 such physical visits have occurred since 2014.
      </p>
    </div>
  </div>
</div>
</section>

<a name="coordinate"></a>
<section class="coordinate bg-orange">
  <div id="map2"></div>
  <div class="overlays">
    <div class="bg-orange text-center">
      <h1>
        Collaborating on common campaigns
      </h1>
    <ul id="campaign-list" class="nav nav-pills nav-stacked campaign-list">
      <li><a data-campaign="coal">
        Stop coal
      </a></li>
      <li><a data-campaign="refugees">
        Refugees welcome
      </a></li>
      <li><a data-campaign="peace">
        Stand for peace
      </a></li>
      <li><a data-campaign="trade">
        Stop bad trade deals
      </a></li>
    </ul>
  </div>
</section>

<a name="enhance"></a>
<section class="enhance bg-green">
<div class="container">
  <div class="row">
    <div class="col-sm-8 text-center col-sm-push-2">
      <h1 class="text-center">
        Enhancing the network with world-class services
      </h1>
      <p class="h4-sized">
        <!--span class="glyphicon glyphicon-lock" aria-hidden="true"></span-->
        OPEN network members benefit from special access to best-in-class external resources ranging from video production to management coaching. And OPEN&rsquo;s staff of seasoned campaign veterans provide expert training and strategic support where appropriate.
      </p>
      <p class="h4-sized">
        OPEN also coordinates <strong>collaborative tech development</strong> across the network to innovate the next generation of digital tools for grassroots advocacy. Priority frontiers for this work include unleashing the full organising power of mobile-first platforms &ndash; especially in the Global South &ndash; and turbo-charging campaigns led by local volunteers.
      </p>
      <!--button type="button" class="btn btn-white btn-lg" data-toggle="modal" data-target="#myModal">
        Get In Touch
      </button-->
    </div>
  </div>
</div>
</section>

<a name="grow"></a>
<section class="grow">
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1 class="bg-red">
        Growing the family
      </h1>
      <p>
        OPEN helps new member organisations start, launch, grow and thrive in key nations around the world in record time.
      </p>
      <p>
        When OPEN launched in 2013, there were five founding organisations following 15 years of linear progress. Three years later, the network has more than tripled. Our priority growth areas are Europe and the Global South.
      </p>
      <p>
        OPEN helps each start-up initiative achieve the high-quality leadership, strategy, technology, funding and institutional foundation they need for success. And the OPEN peer network ensures that every startup begins with the accumulated wisdom of those who have come before.
      </p>
      <p>
        Today, recent OPEN startups across 5 continents are already fighting and winning campaigns on critical issues from air quality in Poland to child poverty in New Zealand to police brutality in South Africa.
      </p>
      <p>
        Innovations in tactics and technology regularly flow from new groups to older groups and back again, accelerating progress for all.
      </p>
    </div>
  </div>
</div>

</section>

<!--section>
  more sections:
  <ul>
    <li>our own newsletter</li>
    <li>featured news</li>
    <li>news news</li>
    <li>facebook feed</li>
    <li>twitter feed</li>
  </ul>
</section-->
<script src='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css' rel='stylesheet' />
<script>

var orgs = [{% include orgs.js %}];
var world = {
  "type": "FeatureCollection",
  "features": {% include countryshapes.json %}
};

L.mapbox.accessToken = 'pk.eyJ1Ijoic25vb2siLCJhIjoiY2loN2Z4OXlhMHE4c3Vla3RiYjUzOHAxMSJ9.etz4qL0ffKTyPf2bFcHOIA';
var map1 = L.mapbox.map('map1', 'mapbox.streets', {
  scrollWheelZoom: false
}).setView([20, 0], 2);
var map2 = L.mapbox.map('map2', 'mapbox.streets', {
  scrollWheelZoom: false,
  attribution: 'The OPEN'
}).setView([20, 0], 2);

var pins = L.mapbox.featureLayer().addTo(map1);
pins.setGeoJSON(orgs);
pins.on('click',function(e) {
  map1.panTo(e.layer.getLatLng());
});

var sampleArray = ['USA','CAN','GBR','DEU','IRL','POL','AUT','SWE','CHE','AUS','NZL','ZAF','COL','VEN','ITA','ROU'];
var campaigns = {
  'refugees': {
    'list': ['USA','CAN','GBR','DEU','IRL','POL','AUT','SWE','CHE','AUS','NZL','ITA','ROU']
  },
  'coal': {
    'list': ['GBR','DEU','AUS']
  },
  'trade': {
    'list': ['USA','CAN','AUS','NZL','GBR','DEU','IRL','POL','AUT','SWE','CHE','ITA','ROU']
  },
  'peace': {
    'list': ['USA','CAN','NZL','GBR','DEU','CHE','SWE','AUT','IRL']
  }
};
var campaignLayers = {};
$(document).ready(function() {
$.each(campaigns, function(name, list) {
  campaignLayers[name] = L.mapbox.featureLayer(world, {
    style: { weight: 2, fillOpacity: '0' },
    //className: 'country-tpp',
    filter: function(feature, layer) { if(campaigns[name].list.indexOf(feature.id) != -1) return true; return false;}
  }).setZIndex(-1).addTo(map2);
});
$('#campaign-list > li > a').on('mouseover', function(){
  campaignLayers[this.dataset.campaign].setStyle({fillOpacity: 1});
});
$('#campaign-list > li > a').on('mouseout', function(){
  campaignLayers[this.dataset.campaign].setStyle({fillOpacity: 0});
});
});

</script>
<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
