<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <form action="//the-open.us8.list-manage.com/subscribe/post?u=753395b9f963c9ea2d6980b7c&amp;id=9e1559c2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Have a question or comment? Want to receive periodic updates about the network? Just fill out the form below.</h4>
      </div>
      <div class="modal-body">
        {% include mailchimp-inner.html %}
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
        <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="button btn-info btn" />
      </div>
    </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
