<div class="modal fade" id="thank-you-modal" tabindex="-1" role="dialog" aria-labelledby="thank-you-modal-label">
  <div class="modal-dialog">
    <form method="post" id="embedded-subscribe-form" name="embedded-subscribe-form" class="validate subscribe-form" target="_blank" novalidate>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thank you for signing up!</h4>
      </div>
      <div class="modal-body">
        <p>You'll be included in our next newsletter.</p>
      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <input type="button" class="btn btn-default btn-info" data-dismiss="modal" value="Close" />
      </div>
    </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
