<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | The OPEN{% else %}OPEN - The Online Progressive engagement Network{% endif %}</title>
  <meta name="title" content="{% if page.title %}{{ page.title }} | The OPEN{% else %}{{ site.data.meta.title }}{% endif %}" />
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.meta.description }}{% endif %}" />
  <meta name="keywords" content="{{ page.keywords }} {{ site.data.meta.keywords }}" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | The OPEN{% else %}{{ site.data.meta.fb_title }}{% endif %}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:site_name" content="{{ site.data.meta.fb_site_name }}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.meta.fb_description }}{% endif %}" />
  <meta property="og:url" content="{{ site.domainroot }}" />
  <meta property="og:image" content="{{ site.domainroot }}{% if page.image %}{{ page.image }}{% else %}/static/img/splash.jpg{% endif %}"/>
  <link rel="image_src" href="{% if page.image %}{{ page.image }}{% else %}/static/img/splash.jpg{% endif %}" />
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />

  <link rel="stylesheet" href="/static/stylesheets/site.css" type="text/css" />

  <script src="/static/scripts/jquery.min.js"></script>
  <script src="/static/scripts/bootstrap.min.js"></script>
</head>
<body class="{{ page.name|split:".html" }}">

{% if page.add_facebook %}
  {% include fb-init.html %}
{% endif %}

{{ content }}

{% include mailchimp.html %}

{% include footer.html %}

</body>
</html>
